@use "colors";

html { 
    box-sizing: border-box; 
    height: 100%;
}

*, ::before, ::after { 
    box-sizing: inherit; 
}

body {
    margin: 0;
    color: colors.$letters;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    position: relative;
    background-color: colors.$background;
    background: url(/images/bila3.png);
    object-fit: cover;
    min-height: 100%;
    line-height: 120%;
}

h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

section {
    margin: 0;
    padding: 0;
}


@media screen and (min-width: 1000px) {
    .content {
        margin: 0 auto;
        max-width: 900px;
    }
}