@use "colors";

html { 
    box-sizing: border-box; 
}

*, ::before, ::after { 
    box-sizing: inherit; 
}

body {
    margin: 0;
    color: colors.$main;
    font-family: 'Montserrat', sans-serif;
    background-color: colors.$background;
    font-size: 16px;
    font-weight: 200;
    width: 100%;
}

h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

section {
    margin: 0;
    padding: 0;
}



@media screen and (min-width: 1000px) {
    body {
        background-color: colors.$green;
        background: url(/images/forest.png);
        padding-top: 20px;
    }

    .text {
        max-width: 900px;
        margin: 0 auto;
        background-color: colors.$background;
        border-radius: 10px;
        padding: 20px;
        
    }

}