@use "colors";

footer {
    text-align: center;
    padding: 20px
}


.footer__text {
    margin: 5px;
}
.footer__link {
    color: colors.$letters;
}

.gradient {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(255,0,0,0), colors.$main);
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (min-width: 1000px) {

}