.head {
    text-align: center;
    padding: 20px;
}

.header__picture img {
    max-height: 250px;
}


.header__name--main {
    padding: 10px 0;
    font-weight: 500;
    line-height: 150%;
}


.header__name--specification {
    font-size: 20px;
    font-weight: 400;
}

@media screen and (min-width: 640px) {
    .head {
        display: flex;
        padding: 0 30px;
    }

    .header__text {
        place-self: center end;
        flex-grow: 1;
        text-align: center;
    }
} 