@use "colors";


.menu__list {
    padding: 0;
}

.menu__link {
    text-transform: uppercase;
    list-style: none;
    background-color: colors.$main;
    padding: 10px;
    margin: 2px;
    text-align: center;
    display: block;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2)

}

.menu__link:hover {
    background-color: gray;
}

.menu__link {
    color: colors.$background;
    text-decoration: none;
}

@media screen and (min-width: 640px) {
    .menu__list {
        display: flex;
        justify-content: center;
        gap: 20px;

    }

    .menu__link {
        flex-grow: 1;
    }
}