.menu__list {
  padding: 0;
}

.menu__link {
  text-transform: uppercase;
  list-style: none;
  background-color: #6b5555;
  padding: 10px;
  margin: 2px;
  text-align: center;
  display: block;
  border-radius: 5px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  color: #E8DED1;
  text-decoration: none;
}

.menu__link:hover {
  background-color: #b46a6a;
}

@media screen and (min-width: 640px) {
  .menu__list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .menu__link {
    flex-grow: 1;
  }
}
html {
  box-sizing: border-box;
  height: 100%;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #020202;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  position: relative;
  background-color: #E8DED1;
  background: url(/images/bila2.png);
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
}

h1, h2, ul, li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

section {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  .content {
    margin: 0 auto;
    max-width: 900px;
  }
}
footer {
  text-align: center;
  padding: 20px;
}

footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

.footer__text {
  margin: 7px;
  font-size: 13px;
  font-weight: 300;
}

.footer__link {
  color: #020202;
  display: inline-block;
}

.footer__phone {
  display: flex;
  justify-content: center;
}

.footer__picture {
  width: 20px;
  align-self: center;
}

.footer__icon {
  height: 30px;
}

.gradient {
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(255, 0, 0, 0), #6b5555);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.head {
  text-align: center;
  padding: 20px;
}

.header__picture img {
  max-height: 250px;
}

.header__name--main {
  padding: 10px 0;
  font-weight: 500;
}

.header__name--specification {
  font-size: 20px;
  font-weight: 400;
}

@media screen and (min-width: 640px) {
  .head {
    display: flex;
    padding: 0 30px;
  }
  .header__text {
    place-self: center end;
    flex-grow: 1;
    text-align: center;
  }
}
.blok {
  margin: 20px;
}

.blok::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

.blok__main {
  text-align: center;
  font-size: 30px;
  margin: 30px;
}

.blok__header {
  margin-top: 30px;
}

.blok__link {
  color: #020202;
}

.intro__list {
  padding-left: 30px;
}

.blog {
  margin: 20px;
}

.blog__header {
  text-align: center;
  font-size: 30px;
  margin: 30px;
}

.blog__link {
  list-style: none;
  background-color: #6b5555;
  color: #E8DED1;
  text-decoration: none;
  padding: 10px;
  margin: 2px 0 10px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

.blog__link:hover {
  background-color: #b46a6a;
}

.blog__article::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

@media screen and (min-width: 640px) {
  .blog__conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .blog__article::before {
    display: none;
  }
  .blog__article {
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    border: 1px solid #6b5555;
    padding: 15px;
  }
}
@media screen and (min-width: 1000px) {
  .blog__conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */