<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>

<body>
    <!--Záhlaví-->
    <div class="content">
    <header>
        <div class="head">
            <div class="header__picture">
                <img class="header__logo" src="/images/logo_invis.png" alt="logo MaJa koučink">
            </div>

            <div class="header__text">
                <h1 class="header__name--main">Mgr. Marie Nosálková</h1>
                <h2 class="header__name--specification">psycholog, kouč</h2>
            </div>

        </div>
        <nav class="menu">
            <ul class="menu__list">
                <a href="/" class="menu__link"><li class="menu__item">Úvod</li></a>
                <a href="/sluzby/" class="menu__link"><li class="menu__item">Služby a ceník</li></a>
                <a href="/omne/" class="menu__link"><li class="menu__item">O mně</li></a>
                <a href="/kontakt/" class="menu__link"><li class="menu__item">Kontakt</li></a>
                <a href="/blog/" class="menu__link"><li class="menu__item">Blog </li></a>
            </ul>
        </nav>
    </header>

    {{ content | safe }}

    <!--Zápatí-->
    <footer>
        <p class="footer__text">MaJa psycholog</p>
        <div class="footer__phone"><div class="footer__picture"><img src="/images/iconmonstr-phone-11.svg"></div><p class="footer__text">+420 666 666 666</p></div>

        <div class="footer__icons">
            <a href="mailto:majapsychologie@gmail.com" class="footer__link"><img src="/images/iconmonstr-gmail-3.svg" class="footer__icon"></a>
            <a href="https://www.facebook.com/profile.php?id=100094100081434" class="footer__link"><img src="/images/iconmonstr-facebook-3.svg" class="footer__icon"></a>
            <a href="https://www.instagram.com/maja_psycholog/" class="footer__link"><img src="/images/iconmonstr-instagram-13.svg" class="footer__icon"></a>
        </div>
    </footer>
    </div>
    <div class="gradient"></div>
</body>
</html>