<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>

<body>
<section class="text">
    <!--Záhlaví-->
    <header>
        <div class="head">
            <div class="header__picture">
                <img class="header__logo" src="/images/logo_invis.png" alt="logo MaJa koučink">
            </div>

            <div class="header__text">
                <h1 class="header__name--main">Mgr. Marie Nosálková</h1>
                <h2 class="header__name--specification">psycholog, kouč</h2>
            </div>

        </div>
        <nav class="menu">
            <ul class="menu__list">
                <a href="/" class="menu__link"><li class="menu__item">Úvod</li></a>
                <a href="/sluzby/" class="menu__link"><li class="menu__item">Služby a ceník</li></a>
                <a href="/omne/" class="menu__link"><li class="menu__item">O mně</li></a>
                <a href="/kontakt/" class="menu__link"><li class="menu__item">Kontakt</li></a>
                <a href="/" class="menu__link"><li class="menu__item">Blog </li></a>
            </ul>
        </nav>
    </header>

    {{ content | safe }}

    <!--Zápatí-->
    <div class="divide">
        <img class="divide__image" src="/images/forest.png" alt="les">
        <div class="divide__gradient--light"></div>
        <div class="divide__gradient--dark"></div>
    </div>

</section>
    <footer>
        <div class="footer__gradient"></div>
        <p class="footer__text">Maja psycholog</p>
        <p class="footer__text">+420 666 666 666</p>
        <p class="footer__text"><a href="mailto:someone@yoursite.com" class="footer__link">majapsychologie@gmail.com</a></p>

    </footer>

</body>
</html>